<h1>Actor #<%= @actor.id %> details</h1>

<p><%= link_to "Go back", actors_path %></p>

<div>
  <dt>Name</dt>
  <dd><%= @actor.name %></dd>

  <dt>Dob</dt>
  <dd><%= @actor.dob&.strftime("%Y-%m-%d") || 'Date not available' %></dd>

  <dt>Bio</dt>
  <dd><%= @actor.bio %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @actor.image %>" alt="<%= @actor.name %>" height="200"></dd>
</div>

<h2>Filmography</h2>
<% if @characters.any? %>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Character name</th>
      </tr>
    </thead>
    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td><%= character.movie.title %></td>
          <td><%= character.movie.year %></td>
          <td><%= character.movie.director.name %></td>
          <td><%= character.name %></td>
          <td><%= link_to "Show details", movie_path(character.movie) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This actor has no filmography available.</p>
<% end %>
